[submodule "vim"]
	path = vim/vim.symlink
	url = https://github.com/masterodie/vim.git
[submodule "oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "tmux/plugins/tpm"]
	path = tmux/tmux.symlink/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "awesome/config/awesome.symlink/redshift"]
	path = awesome/config/awesome.symlink/redshift
	url = https://github.com/YoRyan/awesome-redshift
