[submodule "vim"]
	path = vim/vim.symlink
	url = https://github.com/masterodie/vim.git
[submodule "oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "tmux/plugins/tpm"]
	path = tmux/tmux.symlink/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "zsh/custom/plugins/zsh-syntax-highlighting"]
	path = zsh/custom/plugins/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "nodeenvwrapper/nodeenvwrapper"]
	path = nodeenvwrapper/nodeenvwrapper
	url = https://github.com/aubricus/nodeenvwrapper
[submodule "ranger/ranger_devicons"]
	path = ranger/ranger_devicons
	url = https://github.com/tonietto/ranger_devicons
[submodule "zsh/antigen"]
	path = zsh/antigen
	url = https://github.com/zsh-users/antigen
[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf
[submodule "doom-emacs"]
	path = emacs/doom-emacs
	url = https://github.com/hlissner/doom-emacs
[submodule "emacs/emacs.d.symlink"]
	path = emacs/emacs.d.symlink
	url = https://github.com/plexus/chemacs2.git
