tmux/tmux.symlink/plugins
pentadactyl/pentadactyl.symlink/info

zshrc.local
zshrc.local

*/.tags
.tags

ranger/**/history
ranger/**/bookmarks
ranger/**/tagged

vimperator/vimperator.symlink/info/*
vimperator/vimperator.symlink/info

virtualenvwrapper/virtualenvs.symlink/*/*

ipython/ipython.symlink/*/*.sqlite
ipython/ipython.symlink/*/db
ipython/ipython.symlink/*/log
ipython/ipython.symlink/*/pid

pentadactyl/*
vimperator/*


__pycache__/*
*.pyc
